<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Julius+Sans+One|Poiret+One" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
   <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
<style>
      .navbar-nav
{
  font-size: 30px;
}
    .navbar-brand
{
  font-size: 30px;
}

body {
  padding-top: 70px;
  font-size: 140%;


  font-family: 'Amatic SC', cursive;


}
</style>
</head>

 <body>
    <header>

  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Clare Brophy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'blogs' %}" tabindex="-2" aria-disabled="false">Blog</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="#">Store <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'aboutMe' %}" tabindex="-3" aria-disabled="false">About Me</a>
        </li>

      </ul>

    </div>
  </nav>
</header>

  <!-- Page Content -->
  <div class="container">



        <div class="row">
          {% for art in arts.all %}
          {% if art.forSale == 'Yes' %}



          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="detail"><img class="card-img-top" src="{{art.image.url}}"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="detail">{{art.title}}</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>

            </div>
          </div>

          {% endif %}
          {% endfor %}
        </div>
        <!-- /.row -->


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
